/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 8, 2015, 1:11:10 AM
    Author     : igor
*/
body {
  text-align: center;
}

p {
  font-style: italic;
  text-align: right;
}

table, td {
  border: thin solid black;
}

td.under {
  text-decoration: underline;
  text-align: right;
}

td.center {
  font-weight: bold;
  text-align: center;
}

.warning {
  font-size: 150%;
}

