/*
*= require_self
*= require main
*= require mobile
*= require errors
*= require vendor/jquery-te-1.4.0
*= require vendor/jquery-ui-1.11.0
*= require vendor/jquery-ui.structure-1.11.0
*= require vendor/jquery-ui.theme-1.11.0
*= require vendor/alertify.core
*= require vendor/alertify.default
*/

/* Custom CSS for the required application */
#formInvoiceItem{
    display: none;
    margin-bottom: 15px;
}

#formBankStatementItem{
    display: none;
    margin-bottom: 15px;
}
/*.buttonsMine {*/
/*background-color: #efefef;*/
/*overflow: hidden;*/
/*padding: 0.3em;*/
/*-moz-box-shadow: 0 0 3px 1px #aaaaaa;*/
/*-webkit-box-shadow: 0 0 3px 1px #aaaaaa;*/
/*box-shadow: 0 0 3px 1px #aaaaaa;*/
/*margin: 0.1em 0 0 0;*/
/*border: none;*/
/*}*/

.buttonsMine {
    background-color: #efefef;
    overflow: hidden;
    padding: 1rem 2rem;
    border: 1px none #FFFFFF;
    margin: 1rem 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}
.buttonsMine:focus {
    opacity: 0.95;
    border: 1px none #FFFFFF;
}

.calculate {
    background-color: #efefef;
    margin: 1rem 0;
}

.menuButton {
    background-color:#998CC2 ;
    /*font-weight: bold;*/
    color: white !important;
    padding: 1.5rem 2rem !IMPORTANT;
    /*border-radius: 0px;*/
    border-right: 2px solid white;
    /*margin-left: 25%;*/
    text-transform: uppercase;
    vertical-align: top;
}
.menuButton:hover{
    /*border-bottom: 10px solid mediumvioletred;*/
}

.createButton {
    background-color: darkseagreen ;
    color: white;
    /*margin-left: 25%;*/
}

.saveButton {
    background-color: darkseagreen;
    color: white;
}

.saveButton:focus {
    /*background-color: #91c429;*/
}

.closeButton {
    background-color: mediumvioletred;
    color: white;
}

/*.closeButton:focus{*/
    /*background-color: orangered;*/
/*}*/

.deleteButton {
    background-color: mediumvioletred;
    font-weight: bold;
    color: white;
    padding: 1rem 2rem;
}

/*.deleteButton:focus{*/
    /*background-color: #952113;*/
/*}*/

.calculate{
    display: none;
}

.invoiceItem {
    margin: 0 0 1rem 0;
    text-align: right;
}

.bankStatementItem {
    margin: 1rem 0 0 0;
}
.itemButtons {
    /*margin-left: 27%;*/
    /*margin-top: 1rem;*/
    text-align: right;
}

.invoiceItemTitle {
    font-size: 1rem;
    margin-left: 14rem;
}

.dialogInvoiceDetails div {
    margin: 0.5rem 0 ;
}
.dialogInvoiceDetails label{
    float: left;
    text-align: right;
    /*margin: 0.5rem 0;*/
    display: block;
    width: 15%;

}

.dialogInvoiceDetails input{
    text-align: right;
    /*float: left;*/
    /*display: block;*/
}

.sumStyle table {
    /*background-color: #eeeeee;*/
    background-color: #ffffff;
    width: 40%;
    float: right;
    font-weight: bold;
    text-align: right;
}

.sumStyle table td.number{
    text-align: right;
}

.number{
    text-align: right;
}

.newItemBody {
    /*background-color: #efefef;*/
    /*padding: 2rem 0;*/
}

.jqte {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

.jqte-popup{
    text-align: center;
}
.jqte-popup .jqte {
    text-align: left;
}

.table-arrows {
    vertical-align: middle;
}

.show-error-bubble {
    opacity: 1;
    visibility: visible;
}

.errorLabel {
    color: red !important; ;
    text-align: left !important;
    display: inline !important;
}

.invoiceBodyTable{
    margin: 2rem 0;
    /*background-color: #eeeeee;*/
    background-color: #ffffff;
}

div.invoiceBodyTable table td{
    text-align: right;
}

div.invoiceBodyTable table td:first-child{
    width: 35%;
    text-align: left !important;
}

div.invoiceBodyTable table td:nth-child(2){
    width: 30%;
    text-align: left !important;
}

div.invoiceBodyTable table td:nth-child(2){
    width: 10%;
    text-align: left !important;
}

div.invoiceBodyTable table thead{
    background-color: #f5f5f5;
}

.invoiceBodyTableForm{
    margin: 2rem 0;
    /*background-color: #eeeeee;*/
    background-color: #ffffff;
}

div.invoiceBodyTableForm table td{
    text-align: right;
}

div.invoiceBodyTableForm table td:first-child{
    width: 5%;
    text-align: left !important;
}


div.invoiceBodyTableForm table td:nth-child(2){
    width: 35%;
    text-align: left !important;
}

div.invoiceBodyTableForm table td:nth-child(3){
    width: 10%;
    text-align: left !important;
}

div.invoiceBodyTableForm table thead{
    background-color: #f5f5f5;
}

#showInvoiceBody {
    background-color: #ffedff;
    display: table;
    width: 100%;
    padding: 0.8rem 0rem;
    margin: 1rem 0;
}

#showInvoiceBodyOut {
    background-color: #ffedff;
    display: table;
    width: 100%;
    padding: 0.8rem 0rem;
    margin: 1rem 0;
}

.currencyTab{
    float: right;
    background-color: #998CC2;
    padding: 0.4rem 1rem;
    color: #ffffff;
}

.fieldcontain {
    margin-top: 1px !important;
}

.fieldcontain .property-value{
    display: block;
    margin-left: 27%;
    background-color: #ffedff;
    background-color: #e0dcec;
    /*color: #998CC2 ;*/
    padding: 0.6rem;
}

.fieldcontain .property-label {
    float: left;
    background-color: transparent;
    padding: 0.6rem;
    /*color: #444444 !important;*/
    text-align: right;
    width: 25%;
}

.fieldset, .property-list {
    margin: 0.6em 0em 0 0em !important;
    padding: 0.3em 0em 1.25em !important;
}

.bodies{
    margin: 0.6em 0em 0 0em;
    padding: 0.3em 0em 1.25em;
}

.outCurrencyBlock{
    display: none;
}

.required:after {
    color: #FF0000;
    content: " *";
    font-size: 1em;
}

.documents-list {
    margin: 2rem 0;
    /*float: left;*/
}

.documents-list a {
    margin-left: 5rem;
    /*font-size: 15px;*/
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    /*display: block;*/
}

.documents-list span {
    margin-left: 5rem;
    margin-bottom: 2px;
    text-decoration: none;
    padding: 0.2rem 0.5rem;
    display: block;
}

.documents-list a:hover {

    background-color: moccasin;
    /*padding: 0.6rem;*/
}

#javafx-app-placeholder {
    margin-top: 1rem;
}

#loginHeader{
    float: right;
}

#loginHeader a{
    /*background-color: #111122;*/
    background-color: mediumvioletred;
    border: 1px solid white;
    color: white;
    padding: 1.4rem;
    transition: padding 0.1s;
}

#loginHeader:hover a {
    padding: 1.5rem 1.4rem;
    transition: padding 0.1s;
}

.wider-fields{
    width: 250px;
}

.error-404{
    margin-left: 10rem;
}

a.doc-pdf, a.doc-vnd.ms-excel, a.doc-msword, a.doc-vnd.openxmlformats-officedocument.wordprocessingml.document, a.doc-x-msaccess, a.doc-vnd.oasis.opendocument.text, a.doc-zip, a.doc-xml, a.doc-csv, a.doc-plain {
    background-color: #f5f5f5;
    color: #292929;
    padding: 0.2rem 0.5rem 0.2rem 0rem;
}
a.doc-pdf:before, a.doc-vnd.ms-excel:before, a.doc-msword:before, a.doc-vnd.openxmlformats-officedocument.wordprocessingml.document:before, a.doc-x-msaccess:before, a.doc-vnd.oasis.opendocument.text:before, a.doc-zip:before, a.doc-xml:before, a.doc-csv:before, a.doc-plain:before {
    color: #ffffff;
    font-family: "Ubuntu Mono",monospace;
    font-weight: 700;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    vertical-align: top;
}


a.doc-pdf:before {
    background-color: red;
    content: "PDF";
}
a.doc-vnd.ms-excel:before{
    background-color: mediumseagreen;
    content: "XLS";
}
a.doc-msword:before, a.doc-vnd.openxmlformats-officedocument.wordprocessingml.document:before {
    background-color: dodgerblue;
    content: "DOC";
}
a.doc-x-msaccess:before {
    background-color: plum;
    content: "MDB";
}
a.doc-vnd.oasis.opendocument.text:before {
    background-color: steelblue;
    content: "ODT";
}
a.doc-zip:before {
    background-color: gold;
    content: "ZIP";
}
a.doc-xml:before {
    background-color: gray;
    content: "XML";
}
a.doc-csv:before {
    background-color: darkseagreen;
    content: "CSV";
}
a.doc-plain:before {
    background-color: darkgray;
    content: "TXT";
}

#progressBar {
    display: none;
    width: 435px;
    height: 22px;
    border: 1px solid #ffffff;
    border-radius: 2px;
    background-color: #dddddd;
    margin-left: 2px;
}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: limegreen;
}

#progressText {
    background: transparent;
}

.statement-items-table{
    padding: 0;
    margin: 0;
}

#includedTemplate{
    display: none;
}

.newDialogButton {
    background-color: #f5f5f5;
    color: #292929;
    padding: 0.2rem 0.5rem ;
    font-weight: bold;
    text-align: center;
}

.comboBox {
    width: 11rem;
}

.app-version {
    text-align: center;
}

.registration-link {
    text-align: center;
}

.invoiceReversed{
    background-color: #111 !important;
    color: white;
}
.invoiceReversed a{
    color: white !important;
}