/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 29, 2016, 4:59:37 PM
    Author     : igor
*/
div.layout {
    position: relative;
    float: left;
    overflow: auto;
}

div#outer {
    width: 600px;
}

div#right {
    width: 275px;
    padding: 1%;
    border-left:thin solid black;
}

div#left {
    width: 275px;
    padding: 1%; 
    text-align: right;
}

div#bottom {
    border-top: thin solid black;
    width: 95%;
    padding: 1%;
}

table, td {
    border: thin solid black;
}

