<div id="footer">
    <div class="app-version">
        <g:meta name="app.version"/>
    </div>
    <div class="registration-link">
        <a href="http://e-office.genrepsoft.net/e-office-registration">Registration link</a>
    </div>
</div>